.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #db22c3;
    color: rgb(137, 9, 75);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.redessocial {
    color: rgb(137, 9, 75); 
}
