.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    padding: 20px;
    background-color: #981580;
    color: #981580;
    width: 100%;
    box-sizing: border-box;
}

.produtol{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.produto {
    background-color: rgb(187, 90, 156);
    display: flex; 
    padding: 5px;
    border-radius: 5px;
    width: 650px;
    height: 450px;
    text-align: center;
    flex-direction: column;
}

.button{
    display: flex;
    background-color: #981580;
}

